
<button id="modalButtom" type="button" class="btn btn-primary d-none"  data-bs-toggle="modal" data-bs-target="#cookieModal"></button>

  <div class="modal fade" id="cookieModal" tabindex="-1" aria-labelledby="cookieModalLabel" aria-hidden="true" data-bs-backdrop="static" >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <h5 class="modal-title text-center mt-4">Soy una cookie</h5>
        <div class="modal-body text-center">
            Hola dev, este proyecto consta de una app de Angular y un API REST basada en NodeJS.
        </div>
        
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-primary" (click)="dismiss()" data-dismiss="modal">Entendido</button>
        </div>
      </div>
    </div>
  </div>
